<section style="padding-top:20px;">
  <% if !@admins.empty? %>
    <p class="ChangeFont">Owners</p>
  <% end %>
  <% count = 1 %>
  <% @admins.each do |admin| %>
    <div class="EditMenu">
      <p> <%= count %>. </p>
      <p> <%= admin.first_name.to_s + admin.last_name.to_s %> </p>
      <p> <%= admin.email %> </p>
    </div>
    <% count = count + 1 %>
  <% end %>
  <% count = 1 %>
  <% if !@billers.empty? %>
    <p class="ChangeFont">Billers</p>
  <% end %>
  <% @billers.each do |clerk| %>
    <div class="EditMenu">
      <p> <%= count %>. </p>
      <p> <%= clerk.first_name.to_s + clerk.last_name.to_s %> </p>
      <p> <%= clerk.email %> </p>
      <%= form_with url: delete_user_path, method: "delete", class: "Menu-form" do |form| %>
        <%= hidden_field_tag :user_id, clerk.id %>
        <%= image_submit_tag "trash-can-outline.svg", data: { confirm: "Are you sure?" }, class: "Delete-img", title: "Delete User" %>
      <% end %>
      <%= form_with(url: role_change_customer_path, method: "patch", local: true) do %>
        <%= hidden_field_tag :user_id, clerk.id %>
        <%= image_submit_tag "role-change.png", class: "RoleChange", title: "Assign customer role" %>
      <% end %>
    </div>
    <% count = count + 1 %>
  <% end %>
  <% count = 1 %>
  <% if !@customers.empty? %>
    <p class="ChangeFont">Customers</p>
  <% end %>
  <% @customers.each do |customer| %>
    <div class="EditMenu">
      <p> <%= count %>. </p>
      <p> <%= customer.first_name.to_s + customer.last_name.to_s %> </p>
      <p> <%= customer.email %> </p>
      <%= form_with(url: role_change_clerk_path, method: "patch", local: true) do %>
        <%= hidden_field_tag :user_id, customer.id %>
        <%= image_submit_tag "role-change.png", class: "RoleChange", title: "Assign clerk role" %>
      <% end %>
    </div>
    <% count = count + 1 %>
  <% end %>
</section>
