<section class="OrderBill">
  <% orders.all.each do |order| %>
    <div class=" OrderBillItem">
      <div class="Orders">
        <% count = 1 %>
        <p class="HeaderFont">S.No</p>
        <p class="HeaderFont">Item</p>
        <p class="HeaderFont">Price</p>
        <p class="HeaderFont">Quantity</p>
        <p class="HeaderFont">Total Price</p>
        <% order.order_items.each do |order_item| %>
          <p> <%= count %> </p>
          <p> <%= order_item.menu_item_name %> </p>
          <p> &#x20b9;<%= order_item.menu_item_price %></p>
          <p style="text-align:center;"> <%= order_item.quantity %> </p>
          <p> &#x20b9;<%= order_item.price %> </p>
          <% count = count + 1 %>
        <% end %>
      </div>
      <div style="display:flex;justify-content:space-between;padding:20px;">
        <p>Ordered On : <%= order.ordered_at.localtime.to_s(:long) %> </p>
        <% if order.status == "placed" %>
          <p>Delivered On : Not Yet!</p>
        <% else %>
          <p>Delivered On : <%= order.delivered_at.localtime.to_s(:long) %> </p>
        <% end %>
      </div>
      <p style="position: relative;left: 38%; padding:10px;">Total Price: &#x20b9;<%= order.total_price %> </p>
      <% if order.status == "delivered" %>
        <div class="OrderStatus">
          <%= submit_tag "Order Delivered", disabled: true, class: "OrderDelivered" %>
        </div>
      <% elsif order.status == "placed" %>
        <div class="OrderStatus">
          <%= submit_tag "Order Pending", disabled: true, class: "OrderPending" %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
