<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManager</title>
  </head>
  <body>
    <% if @current_user %>
      <p class="User-Header">
        Welcome <%= @current_user.first_name %>!
        <% if @current_user.role == "owner" %>
        <%= link_to "Pending-orders", orders_path, method: "get" %>
        <% end %>
        <%= link_to "My Cart", show_cart_path, method: "get" %>
        <%= link_to "Sign-out", destroy_session_path, method: "delete" %>
      </p>
    <% end %>
    <%= yield %>
  </body>
</html>
